/* testtingggg */
@import url('https://fonts.googleapis.com/css2?family=Autour+One&display=swap');                                                                                                             
header {
    display: grid;
    grid-template-columns: 150px auto;
  }

.home-grid {
    display: grid;
    grid-template-columns: repeat(10,1fr);
}
  
  nav {
    display: flex;
    justify-content: space-around;
  }
  #logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
  }
  
  #hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
  }
  
  #hero-msg h4 {
    color: rgb(188, 113, 113);
  }
  
  #hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
  }
  
  #hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
  }
  
  #hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
  }
  
  .card-img, .dinner {
    width: 100%;
  }
  .mainCourse-card {
    grid-column: 2/4;
    grid-row: 2 / 3;
  }
  
  .snack-card {
    grid-column: 5/7;
    grid-row: 2 / 3;
  }
  
  .dessert-card {
    grid-column: 8 / 10;
    grid-row: 2 / 3;
  }
  
  #background {
    background-color:#eee1e2;
    grid-column: 1 / 12;
    grid-row: 4 / 10;
  }
  
  .dinnerSpread {
    grid-column: 2 / 7;
    grid-row: 5 / 8;
  }
  
  .msg {
    grid-column: 6 / 10;
    grid-row: 6 / 7;
  }
  
  .card-img {
    border: 10px solid #bf7e29;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
  }
  .card-img:hover {
    opacity: .6;
    transform: scale(1.1);
  } 
  
  .msg {
    background-color: #6f7364;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
  }
  .dinnerSpread {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
  }
:root {
    /* change the values below to your colors from your palette */
    --primary-color: #A31621  ;
    --secondary-color: #172121 ;
    --accent1-color: #FB8B24;
    --accent2-color: #FB8B24;
  
 
    --heading-font: "IM Fell French Canon";
    --paragraph-font: Lato, Helvetica, sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #7d6161;  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: #57401b; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #4b4848  ;
    --nav-link-color: #c57474;
    --nav-background-color: #d4660d;
    --nav-hover-link-color: rgb(196, 108, 108);
    --nav-hover-background-color: #7d0a0a;
  }
#content{
  max-width:1600px;  
  margin: 0 auto;
}
nav a,
#hero-msg h1, #hero-msg h4,
.button-box,
main section{
    text-align:center;
    color: #af5c1d
}
#background{
    height: 725px;
}
body{background-color:var(--nav-link-color)}

nav a:hover{
    
}
.book, .join{background-color:var(--nav-link-color)
}
.book:hover, .join:hover{background-color:var(--nav-link-color)
}

.msg{background-color:var(--nav-link-color)
}
footer{
background-color:var(--nav-link-color)
}
nav a{
    background-color: black;
    color: #d9c2a3;
}
nav a:hover{
    background-color: black;
    color: #d9c2a3;
}
.home-title{
    background-color: black;
    color: #d9c2a3;
}
h4{
    background-color: black;
    color: #d9c2a3;
}
.book, .join{
    background-color: black;
    color: #d9c2a3;
}
.book:hover, .join:hover{
    background-color: black;
    color: #d9c2a3;
}
.msg h2{
    background-color: black;
    color: #d9c2a3;
}
.msg p{
    background-color: black;
    color: #d9c2a3;
}
footer{
    background-color: black;
    color: #d9c2a3;
}
footer a{
    background-color: black;
    color: #d9c2a3;
}
footer a:hover{
    background-color: black;
    color: #d9c2a3;
}
.logo {
    width: 80px
}
.icon {
    width: 80px;
}
#hero-img{
    width: 100%
}
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}    
footer p {
    font-size: 1.2em;
}    
footer p a:hover {
    text-decoration: underline;
}    

body {
    font-family: 'Autour One', Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.home-title {
    font-family: 'Autour One', Arial, sans-serif;
    font-size: 2em;
}

/* Update font-size for .book, .join, and .msg p */
.book, .join {
    font-size: 22px;
}

.msg p {
    font-size: 0.8em;
}

.msg {
    line-height: 1.5em;
}

#logo_link {
    padding-top: 5px;
}

nav a {
    padding: 35px;
}

.book, .join {
    padding: 15px 30px;
}

.icon {
    padding-top: 10px;
}

.msg {
    padding: 35px;
}

.msg p {
    padding-bottom: 15px;
}

footer {
    padding: 25px 50px;
}

footer .social img {
    padding-top: 15px;
}

.home-title {
    margin-top: 10px;
}

.book, .join {
    margin-top: 50px;
}

.mainCourse-card, .snack-card, .dessert-card {
    margin: 200px 0;
}

footer {
    margin-top: 200px;
}

footer {
    background-color: #340505;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
         
  @media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .mainCourse-card, .snack-card, .dessert-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
  }
  .page2grid {
    display: grid;
grid-template-columns:1fr 2fr;
gap: 25px;
margin-top: 10px;

  }
  .page2border {
    border:5px solid #172121
  }
  .imgfit {
    width: 100%;
  }

  #feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    display: none;      
}
.moveDown {
    margin-top: 3em;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  display: grid;
  place-items: center;
  height: 100vh;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.content {
  padding: 20px;
}

.text-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(46, 43, 43);
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 500px; /* Adjust the width as needed */
  width: 100%;
}
